<div id="header-wrap">
    <!-- Top Content -->
    <div class="top-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon icon-youtube-play"></i></a></li>
                            <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                        </ul>
                    </div><!--social-links-->
                </div>
                <div class="col-md-6">
                    <div class="right-element">
                        {% if is_logged_in %}
                            <!-- Logged in user menu -->
                            <div class="dropdown">
                                <a href="#" class="user-account for-buy dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon icon-user"></i><span>{{ current_user.username }}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ url_for('auth.profile') }}"><i class="icon icon-user"></i> My Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="icon icon-sign-out"></i> Logout</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <!-- Guest user menu -->
                            <a href="{{ url_for('auth.login') }}" class="user-account for-buy">
                                <i class="icon icon-user"></i><span>Login</span>
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="cart for-buy">
                                <i class="icon icon-user-plus"></i><span>Sign Up</span>
                            </a>
                        {% endif %}

                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box" action="/search">
                                    <input class="search-field text search-input" 
                                           placeholder="Search books, authors..." 
                                           type="search" name="q">
                                </form>
                            </div>
                        </div>
                    </div><!--top-right-->
                </div>
            </div>
        </div>
    </div><!--top-content-->

    <!-- Main Header -->
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="main-logo">
                        <a href="{{ url_for('home') }}">
                            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-md-10">
                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li class="menu-item active">
                                    <a href="{{ url_for('home') }}">Home</a>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link">Browse</a>
                                    <ul>
                                        <li><a href="{{ url_for('all_books') }}">All Books</a></li>
                                        <li><a href="{{ url_for('all_authors') }}">Authors</a></li>
            
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="{{ url_for('collections_page') }}" class="nav-link" style="color: #007bff;">
                                        <i class="fas fa-layer-group"></i> Collections
                                    </a>
                                </li>
                                {% if is_admin %}
                                <li class="menu-item">
                                    <a href="{{ url_for('admin_dashboard') }}" class="nav-link" style="color: #28a745;">
                                        <i class="icon icon-settings"></i> Admin
                                    </a>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div><!--header-wrap-->